* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
}

h1 {
    padding-top: 2vh;
}

#pageContainer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    width: 100vw;
    gap: 2vh;
}

#gridContainer {
    width: 50vw;
    height: 50vw;
    display: grid;
    grid-template-rows: repeat(16, minmax(5px, 1fr));
    grid-template-columns: repeat(16, minmax(5px, 1fr));
    border: 5px solid black;
}

.grid-item {
    border: 1px solid grey;
}